* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(49, 47, 47);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main {
    background-color: rgb(34, 30, 34);
    width: 300px;
    height: 200px;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.4);
}

.container {
    background-color: rgba(49, 47, 47);
    width: 80%;
    height: 15px;
    border-radius: 15px;
}
.progress-bar {
    height: 100%;
    width:  0%;
    background-color: #ffff;
    border-radius: 15px;
}

.hide {
    margin-top: 20px;
}

.starting {
    background-color: aqua;
}

.active-start {
    background-color: rgb(238, 238, 24);
}

.active-stop {
    background-color: aquamarine;
}

.startBtn {
    padding: 12px 22px;
    border-radius: 10px;
    background: linear-gradient(145deg, rgb(38, 114, 70), white);
    border: none;
    color: rgb(73, 48, 38);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

.stopBtn {
    padding: 12px 22px;
    border-radius: 10px;
    background: linear-gradient(200deg, rgb(38, 114, 70), white);
    border: none;
    color: rgb(73, 48, 38);
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.active-start {
    background: linear-gradient(90deg, white, rgb(112, 30, 119));
    
}

.active-stop {
    background: linear-gradient(90deg, white, rgb(112, 30, 119));
}